form {
    background: #ccc;
    margin: 0 auto;
    width: 300px;
    height: 350px;
    padding: 10 5px;
    border-radius: 5px;
  }

  form * {
    box-sizing: border-box;
  }
  table {
      width: 100%;
      height: 100%;
  }

  form table input {
    height: 100%;
    width: 100%;
    display: block;
    border: 0;
    font-size: 16px;
  }
  form table tr:first-child input {
    padding: 0 10px;
    font-weight: 700;
  }
  form table input.nut {
    background: #C0C0C0;
  }
  form table input.operator {
    color: #fff;
    background: #ffcc00;
  }
